Package: {{PACKAGE_NAME}}
Version: {{DEB_VERSION}}
Section: base
Priority: optional
Installed-Size: {{SIZE}}
Architecture: all
Maintainer: support@galacticexchange.io
Description: Galactic Exchange
 ClusterGX bare metal version

